:root {

  --col-dark-blue: #272C3A;
  --col-orange: #ffae00;
  --col-darker-grey: #616364;
  --col-lighter-grey: #797979;
  --col-primary-grey: #cdcdcd;
  --col-white: #fff;
  --col-grey: #cfcfcf;

}

