@import "../tools/mixins";
@import "../tools/breakpoints";

.header{
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 99;
  transition: background 0.35s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  @media (max-width: $breakpoint-lg){
    position: fixed;
    top: 0;
    background-color: var(--col-dark-blue);
  }
  &.fixed-nav{
    position: fixed;
    top: 0;
    background-color: var(--col-dark-blue);
  }
  &__row{
    height: 60px;
  }
  &__column{
    padding: 0 15px;
  }
  &__logo{
    display: block;
    margin: auto;
  }
}

.drop {
  padding: 20px 10px 20px 0;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  &.toggled{
    i{
      transform: scale(-1);
    }
  }
  i {
    position: relative;
    left: 10px;
    transition: 0.35s ease;
    display: inline-block;
  }
  @media (min-width: 992px) {
    &:hover{
      color: #FEAB30;
      i{
        transform: rotate(180deg);
      }
      #drop-menu {
        display: block;
      }
      #drop-menu1 {
        display: block;
      }
      .drop-menu li {
        opacity: 0;
        animation-name: menu;
        animation-duration: 0.3s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        box-shadow: 2px 0 8px -4px rgba(0,0,0,.3), -2px 0 8px -4px rgba(0,0,0,.3);
      }
      .drop-menu li + li{
        margin-left: 0;
      }
      .drop-menu li:nth-child(1) {
        animation-delay: 100ms;
      }
      .drop-menu li:nth-child(2) {
        animation-delay: 200ms;
      }
      .drop-menu li:nth-child(3) {
        animation-delay: 300ms;
      }
      .drop-menu li:nth-child(4) {
        animation-delay: 400ms;
      }
      .drop-menu li:nth-child(5) {
        animation-delay: 500ms;
      }
      .drop-menu li:nth-child(6) {
        animation-delay: 600ms;
      }
      .drop-menu li a{
        font-size: 14px;
        color: var(--col-darker-grey);
        font-weight: normal;
        text-transform: none;
        display: block;
        padding: 9px 15px;
      }
      .drop-menu li a:hover{
        background: var(--col-orange);
      }
    }
  }
}


.menu-main{
  position: relative;
  padding-right: 60px;
  @media (max-width: $breakpoint-lg){
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: var(--col-dark-blue);
    padding: 10px 0 30px 0;
  }
  @media (max-width: $breakpoint-md){
    height: calc(100vh - 60px);
    overflow: auto;
  }
  li {
    display: inline-block;
    @media (max-width: $breakpoint-lg){
      display: block!important;
      padding: 0;
      padding-left: 30px;
      text-align: left;
    }
    a {
      padding: 20px 0;
      font-size: 14px;
      color: #fff;
      font-weight: 600;
      text-transform: uppercase;
      transition: all 0.3s ease;
      @media (max-width: $breakpoint-lg){
        display: inline-block;
        padding: 5px 15px;
      }
      &:hover{
        color: var(--col-orange);
      }
    }
  }
  li + li{
    margin-left: 30px;
    @media (max-width: $breakpoint-xl){
      margin-left: 20px;
    }
    @media (max-width: $breakpoint-lg){
      margin-left: 0;
    }
  }
  .drop-menu {
    margin: 0;
    top: 100%;
    position: absolute;
    width: 200px;
    display: none;
    padding: 0;
    transition: all 0.6s ease;
    @media (max-width: $breakpoint-lg){
      position: relative;
      top: initial;
      background: transparent;
      width: auto;
      transition: none;
    }
    li {
      width: 100%;
      display: block;
      background-color: #fff;
      @media (max-width: $breakpoint-lg){
        background-color: var(--col-dark-blue);
      }
      a {
        font-size: 14px;
        color: #222222;
        font-weight: normal;
        text-transform: none;
        display: block;
        padding: 9px 15px;
        @media (max-width: $breakpoint-lg){
          color: #fff;
          padding: 3px 15px;
        }
      }
    }
  }
}


.language {
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 3;
  transform: translateY(-50%);
  @media (max-width: $breakpoint-lg){
    position: relative;
    right: 0;
    top: 3px;
    padding: 0 45px;
    z-index: 3;
    transform: translateY(0);
    .language__item{
      display: inline-block!important;
    }
  }
  &:hover{
    .language__list{
      display: block;
    }
  }
  &__link {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    padding: 0!important;
    color: var(--col-dark-blue)!important;
    font-size: 12px!important;
    line-height: 28px;
    font-weight: 600;
    text-align: center;
    border: 1px solid var(--col-orange);
    background-color: #fff;
    transition: all .3s;
    &.active{
      color: var(--col-dark-blue)!important;
      background-color: var(--col-orange);
    }
    &:hover{
      color: #fff;
      background-color: var(--col-orange);
    }
  }
  &__list{
    display: none;
    position: absolute;
    padding-top: 5px;
    @media (max-width: $breakpoint-lg){
      display: inline-block;
      padding-top: 0;
    }
  }
  &__item{
    display: block;
    margin-bottom: 5px;
    @media (max-width: $breakpoint-lg){
      padding-left: 10px!important;
      display: inline-block!important;
    }
    & + &{
      margin-left: 0;
    }
  }
}


@media (min-width: 992px) {
  .drop:hover .drop-menu li:nth-child(1) {
    animation-delay: 100ms;
  }

  .drop:hover .drop-menu li:nth-child(2) {
    animation-delay: 200ms;
  }

  .drop:hover .drop-menu li:nth-child(3) {
    animation-delay: 300ms;
  }

  .drop:hover .drop-menu li:nth-child(4) {
    animation-delay: 400ms;
  }

  .drop:hover .drop-menu li:nth-child(5) {
    animation-delay: 500ms;
  }

  .drop:hover .drop-menu li:nth-child(6) {
    animation-delay: 600ms;
  }
}



.nav-menu {
  display: none;
  width: 30px;
  height: 30px;
  margin: 0 15px;
  overflow: hidden;
  cursor: pointer;
  @media (max-width: $breakpoint-lg){
    display: block;
  }
  &:hover{
    span{
      background-position: 40px 0;
    }
  }
  span{
    width: 30px;
    background: url(/frontend/img/menu.png) 0 0;
    height: 1px;
    display: block;
    margin-top: 6px;
    margin-bottom: 7px;
    transition: all 0.6s;
    &:nth-child(2){
      transition: all 0.6s 0.05s;
    }
    &:nth-child(3){
      transition: all 0.6s 0.1s;
    }
  }
}


.nav-close {
  display: none;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 15px;
  cursor: pointer;
  &:before, &:after{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background: var(--col-orange);
    position: absolute;
    top: 50%;
    margin-top: -1px;
    transition: all 0.5s;
  }
  &:before{
    transform: rotate(-45deg);
  }
  &:after{
    transform: rotate(45deg);
  }
  &:hover{
    &:before, &:after{
      transform: rotate(0deg);
    }
  }
}

