
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon', sans-serif;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-tag:before {
  content: "\e909";
}
.icon-chevron-down:before {
  content: "\e908";
}
.icon-chevron-up:before {
  content: "\e907";
}
.icon-chevron-left:before {
  content: "\e906";
}
.icon-chevron-right:before {
  content: "\e905";
}
.icon-instagram:before {
  content: "\e900";
  color: #e4405f;
}
.icon-facebook:before {
  content: "\e901";
  color: #3b5998;
}
.icon-long-arrow-right:before {
  content: "\e904";
}
.icon-angle-down:before {
  content: "\e902";
}
.icon-angle-double-down:before {
  content: "\e903";
}
.icon-wasap:before {
  content: "\e925";
}
.icon-viber:before {
  content: "\e926";
}
.icon-telegram:before {
  content: "\e927";
}
.icon-facebook1:before {
  content: "\e928";
}
